@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root {
    --dark: #202124;
    --brown: #BC835E;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--dark);
    margin: 10px;
}

nav,
.nav-links {
   display: flex;
}

nav {
    margin-bottom: 50px;
    justify-content: space-around;
    align-items: center;
    height: 17vh;
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.3rem;
}

a {
    color: lightgray;
    text-decoration: none;
}

a:hover {
    color: var(--brown);
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

.logo {
    color: var(--brown);
    text-shadow: rgba(0, 0, 0, 0.300) 0.1em 0.1em 0.2em;
    font-size: 1.8rem;
    font-weight: 600;
}

section {
    margin: auto;
    margin-bottom: 100px;
    padding: 30px 8px 8px 8px;
    text-align: center;
}

.name {
    color: var(--brown);
    text-shadow: rgba(0, 0, 0, 0.300) 0.1em 0.1em 0.2em;
}

main {
    color: lightgray;
    line-height: 1.8rem;
    min-width: 320px;
    max-width: 800px;
    padding: 10px;
    margin: 20px auto 30px;
}

.profile img {
    filter: brightness(80%);
    opacity: 85%;
    border: solid 3px var(--brown);
    box-shadow: rgba(0, 0, 0, 0.300) 0.2em 0.2em 0.7em;
    border-radius: 200px;
    max-width:270px;
    margin-bottom: 10px;
}

h1 {
    color: lightgray;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2px;
    margin-top: 0px;
}

h2 {
    color: rgba(211, 211, 211, 0.882);
    font-size: 15px;
    font-weight: 500;
    margin: 10px;
}

.social {
    text-shadow: rgba(0, 0, 0, 0.300) 0.2em 0.2em 0.3em;
    color: var(--brown);
    font-size: 2rem;
    margin: 0px;
    padding: 10px;
}

.social:hover {
    color: #bc845ea8;
}

h4 {
    color: lightgray;
    text-align: center;
}

h3 {
    text-shadow: rgba(0, 0, 0, 0.300) 0.1em 0.1em 0.2em;
    color: var(--brown);
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
}

.p-about {
    padding: 20px;
    text-align: justify;
    font-size: 1.2rem;
}

footer {
    color:gray;
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: 12px;
    text-align: center;
}

footer > a {
    color: gray;
    text-decoration: none;
}

footer > a:hover {
    color: var(--brown);
    text-decoration: underline;
}
