@charset "UTF-8";

/* Smarthpone */
@media screen and (max-width: 767px) {

    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        display: flex;
    }

    .home {
        margin-top: 1rem;
        flex-direction: column;
    }

    .hello {
        text-align: center;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    .social {
        cursor: default;
    }

    .social:hover {
        color: var(--secondary-color);
        transform: none;
    }

    button:hover {
        background-color: var(--secondary-color);
        transform: none;
    }
}

/* Tablet*/
@media screen and (min-width: 768px) and (max-width: 991px) {

    h2{
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.3rem;
    }
}